@model IEnumerable<Poject_3_Gushurst.Models.InvoiceLineItem>

@{
    ViewBag.Title = "All";
}

<h2>List of all InvoiceLines</h2>

<p>
    @Html.ActionLink("Create New", "Upsert")
</p>
<div class="row">
    <div class="col-md-6">
        <input id="txtSearch" type="text" class="form-control" placeholder="Search..." />
    </div>
    <div class="col-md-6">
        <input type="button" class="btn" value="Search" onclick="Sortable.search();" />
    </div>
</div>
<table class="table">
    <tr>
        <th onclick="Sortable.sort(0);">
            @Html.DisplayNameFor(model => model.InvoiceID)
        </th>
        <th onclick="Sortable.sort(1);">
            @Html.DisplayNameFor(model => model.ProductCode)
        </th>
        <th onclick="Sortable.sort(2);">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th onclick="Sortable.sort(3);">
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th onclick="Sortable.sort(4);">
            @Html.DisplayNameFor(model => model.ItemTotal)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Upsert", new {  id=item.InvoiceID  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.InvoiceID  })
        </td>
    </tr>
}

</table>
<script>
    Sortable.baseUrl = '/InvoiceLine/All/';
</script>